name: Run dbt model

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  run-dbt-model:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check Python and pip
        run: |
          which python3
          python3 --version
          python3 -m pip --version


      - name: Run dbt debug
        run: |
          ls
        env:
          PATH: $HOME/.local/bin:$HOME/Library/Python/3.9/bin:$PATH

      # - name: Run a specific dbt model
      #   run: dbt run --select moodyhome.homes_raw
      #   env:
      #     PATH: $HOME/.local/bin:$PATH
          